// Define Screen Sizes Breakpoints
$breakpoint-small: 640px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1280px;
$breakpoint-2xlarge: 1536px;

// Main Colors
$darkColor: #020202;
$bgColor: #f4f4f4;
$textColor: #0d0d0d;
$purpleColor: #32199b;
$greenColor: #2dc309;
